/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/avatars
/public/uploads
/public/storage
/storage/*.key
/storage/*.key
/storage/app/license.json
/storage/app/verified_license.json
/storage/app/license_deactivate.json
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
/vendor/_laravel_ide/discover-*.php
license.json
changed_files.txt

sync_config.jsonc

*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.codex
/.cursor/
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/storage/*.key
/storage/pail
/vendor
_ide_helper.php
Homestead.json
Homestead.yaml
Thumbs.db
/vendor
/storage/app/*
!/storage/app/.gitignore
/storage/framework/*
!/storage/framework/.gitignore
/storage/logs/*
.env.*
.idea
.vscode